@import url('https://fonts.googleapis.com/css?family=Inter');

*{
    font-family: "Inter";
}

a{
    text-decoration: none;
    color: black;
}

h4{
    margin: 0.3em 0.2em 0.3em 0.1em;
}

h3, h4{
    font-size: 120%;
    font-weight: lighter;
}

body {
    margin: 0;
}

body>header {
    display: block;
    padding: 1em;
    margin: 0 1em 3em 1em;
}

#signup, #login, #cart{
    padding: 0.5em 1em;
}

#register {
    align-items: center;
    display: flex;
    justify-content: end;
}

#login {
    height: fit-content;
    border-radius: 0.5em;
    background-color: lightgray;
    margin-right: 1em;
}

#avatar{
    border-radius: 50%;
}

.footer-wrapper { clear: both; height: 50px; }


footer {
    position: fixed;
    background-color: black;
    padding: 1em 1em 0em 1em;
    bottom: 0;
    width: 100vw;
    margin-top: 2em;
    height: 35px;
    color: white;
}

.header-wrapper {
    font-size: 110%;
    margin: 0.4em 1em 1em 1em;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    align-content: center;
}

.search-div{
    margin-top: 2em;
    justify-content: center;
}

.search{
    display:flex;
    height: 2.5em;
}

.search > input::placeholder{
    color:black;
}

.search > input{
    box-sizing:border-box;
    margin-right:0.7em;
    width: -webkit-fill-available;
    border-radius: 1em;
    padding: 1em;
    border:none;
    background-color: lightgray;
}

.search-button {
    font-size: 200%;
    background-color: white;
    border: none;
    color: darkgrey;
    position: relative;
    top: -0.12em;
    right: 0.2em;
    flex-grow: 1;
}

.form{
    text-align: center;
    display: block;
}

.central-button{
    background-color: lightgray;
    color: black;
    border-radius: 0.5em;
    padding: 10px 15px;
    margin-bottom: 10px;
    display: flex;
    text-decoration: none;
    margin-bottom: 10px;
}

.button-wrapper{
    text-align: center;
    margin-top: 2em;
    margin-bottom: 7em;
    display: flex;
    justify-content: center;
}

/* Sidenav stuff */

.sidenav {
    height: 95%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;

}

.sidenav a {
    padding: 8px 8px 8px 8px;
    margin-top: 0px;
    text-decoration: none;
    font-size: 35px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav p{
    padding: 8px 8px 8px 8px;
    margin-bottom: 5px;
    font-size: 25px;
    color: white;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
    margin-top: 2em;
}
.shopping-cart-total {
    float: right;
    margin-right: 10px;
    color:white
}

.cart-icon {
    color: white;
    font-size: 24px;
    margin-right: 7px;
    float: left;
    margin-left: 10px;
    margin-top: 3px;
}
.trash-icon {
    color: white;
    font-size: 24px;
    margin-right: 7px;
    margin-left: 10px;
    margin-top: 3px;
    cursor: pointer;
}
.badge {
    background-color: rgba(169, 169, 169, 0.713);
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.cartItems{
    padding-top: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.cartItems li {
    margin-bottom: 18px;
}

.cartItems img {
    float: left;
    margin-right: 12px;
    width: 80px;
    border-radius: 1em;
}

.item-name {
    display: block;
    padding-top: 10px;
    font-size: 16px;
    color:white;
}

.item-price {
    color: green;
    margin-right: 8px;
}

.item-quantity {
    color: white;
}

.checkout-button {
    background: darkgray;
    color:white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 10px 30px 10px 30px;
    cursor: pointer;
}

/* End of sidenav stuff */

label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

.search-by{
    position: relative;
    font-size:0.8em;
    display: flex;
    width: 20%;
    min-width: 200px;
    align-items: center;
    border-radius: 5px;
    padding: 1em;
}

.search-by > *{
    margin-right: 0.5em;
}
.search-by .option{
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.search-by .option-1{
    justify-content: right;
}
.search-by .option-2{
    justify-content: center;
}
.search-by .option-3{
    justify-content: left;
}
input[type="radio"]{
    display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2,
#option-3:checked:checked ~ .option-3
{
    border-color: darkgray;
    background: darkgray;
}
.wrapper .option span{
    color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span,
#option-3:checked:checked ~ .option-3 span
{
    color: #fff;
}
