.comments-wrapper {
    /*border: solid;*/
    /*border-color: lightgrey;*/
    width: 50%;
    margin: auto;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
}

.comment-title {
    text-align: center;
    font-family: Roboto;
    font-size: 2.5em;
    padding-top: 3.125em;
    padding-bottom: 1.5em;
}

.comment {
    /*border: solid;*/
    /*border-color: lightgrey;*/
    width: 90%;
    margin: auto;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
}

.comment-user{
    padding-bottom: 10px;
}

.comment-user a:link{
    text-decoration: none;
}
.comment-child {
    /*border: solid;*/
    /*border-color: lightgrey;*/
    width: 90%;
    margin: auto;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
}

.comment-box {
    padding: 25px;
}
.comment-box .button-wrapper {
    text-align: right !important;
}

.comments-wrapper .button-wrapper{
    text-align: center;
}
.comment-child-box{
    padding-top: 25px;
}

.button-wrapper{
    padding: 20px;
}
