.title-wrapper {
    padding-top: 200px;
    padding-bottom: 50px;
    text-align: center;
    color: #000000;
}

.details-wrapper {
    text-align: center;
    padding-top: 20px;
    color: #000000;
}

.technical-wrapper {
    text-align: center;
    padding-top: 20px;
    color: #000000;
}

.description-wrapper {
    text-align: center;
    padding-top: 20px;
    color: #000000;
}

.auction-details-wrapper{
    text-align: center;
    padding-top: 20px;
    color: #000000;
}

#createauction-form {
    padding: 1em;
    width: 30%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgba(244,91,0,0.3);
}
#createauction-form .form-control {
    border: 2px solid lightgray;
}

#createauction-form .form-select:focus {
    border: 2px solid #f45b00;
}

#createauction-form .form-select {
    border: 2px solid lightgray;
    color:#000000;
}

#createauction-form input{
    color: #000000;
}
#createauction-form input:-webkit-autofill,
#createauction-form input:-webkit-autofill:hover,
#createauction-form input:-webkit-autofill:focus,
#createauction-form input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #f45b00 inset !important;
}


label{
    display: block; /* add this */
    text-align: left;
    font-weight: bold;
    width: fit-content;
    color: #000000;
}

#createauction-form .form-control::placeholder {
    color: #606060;
}

.form-category {
    padding-bottom: 50px;
}

.form-model {
    padding-bottom: 50px;
}

.vin-form {
    padding-bottom: 50px;
}

.mileage-form {
    padding-bottom: 50px;
}

.year-form {
    padding-bottom: 50px;
}

.power-form {
    padding-bottom: 50px;
}

.displacement-form {
    padding-bottom: 50px;
}

.color-form {
    padding-bottom: 50px;
}

.description-form {
    padding-bottom: 50px;
}

.image-form {
    padding-bottom: 25px;
}

.startingbid-form {
    padding-bottom: 50px;
}

.duration-form {
    padding-bottom: 50px;
}

.submit-button {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.line {
    width: 20%;
    margin: 0 auto 25px auto;
    border-bottom-style: solid;
    border-color: lightgrey;
    border-width: 2px;
}


.form-wrapper {
    padding-bottom: 150px;
}
