.title-wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.details-wrapper {
    text-align: center;
    padding-top: 20px;
}

.technical-wrapper {
    text-align: center;
    padding-top: 20px;
}

.description-wrapper {
    text-align: center;
    padding-top: 20px;
}

.auction-details-wrapper{
    text-align: center;
    padding-top: 20px;
}

.form {
    width: 15%;
    margin: auto;
}


label{
    display: block; /* add this */
    text-align: left;
    font-weight: bold;
}

.form-category {
    padding-bottom: 50px;
}

.form-model {
    padding-bottom: 50px;
}

.vin-form {
    padding-bottom: 50px;
}

.mileage-form {
    padding-bottom: 50px;
}

.year-form {
    padding-bottom: 50px;
}

.power-form {
    padding-bottom: 50px;
}

.displacement-form {
    padding-bottom: 50px;
}

.color-form {
    padding-bottom: 50px;
}

.description-form {
    padding-bottom: 50px;
}

.image-form {
    padding-bottom: 25px;
}

.startingbid-form {
    padding-bottom: 50px;
}

.duration-form {
    padding-bottom: 50px;
}

.submit-button {
    padding-top: 50px;
    padding-bottom: 150px;
}

.line {
    width: 20%;
    margin: 0 auto 25px auto;
    border-bottom-style: solid;
    border-color: lightgrey;
    border-width: 2px;
}

.line {
    width: 100%;
    margin: 0 auto 25px auto;
    border-bottom-style: solid;
    border-color: lightgrey;
    border-width: 2px;
}
