.content-wrapper {
    width: 50%;
    margin: auto
}
.faq-title {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.faq-wrapper {
    border: solid;
    border-color: lightgrey;
    padding: 25px;
}
