.title{
    display: flex;
    justify-content: center;
}

form > p:last-child{
    display: flex;
    justify-content: center;
}

.error-msg{
    text-align: center;
    margin-top: 2em;
    color: red;
}


.form-login {
    display:flex;
    align-items: center;
    justify-content: center;
}

.login-extra-buttons {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
}

.error-msg{
    text-align: center;
    margin-top: 2em;
}
