.title-wrapper {
    padding-top: 200px;
    padding-bottom: 50px;
    text-align: center;
    color: #000000;
}


#createtransaction-form {
    padding: 1em;
    width: 20%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgba(244,91,0,0.3);
}
#createtransaction-form .form-control {
    border: 2px solid lightgray;
}

#createtransaction-form .form-control:focus {
    border: 2px solid #f45b00;
}



#createtransaction-form .form-select {
    border: 2px solid lightgray;
    color:#000000;
}

#createtransaction-form input{
    color: #000000;
}
#createtransaction-form input:-webkit-autofill,
#createtransaction-form input:-webkit-autofill:hover,
#createtransaction-form input:-webkit-autofill:focus,
#createtransaction-form input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #f45b00 inset !important;
}


label{
    display: block; /* add this */
    text-align: left;
    font-weight: bold;
    width: fit-content;
    color: #000000;
}

#createtransaction-form .form-control::placeholder {
    color: #606060;
}

.form-transaction {
    padding-bottom: 25px;
}

.form-type {
    padding-bottom: 25px;
}

.form-email {
    padding-bottom: 25px;
}

.form-value {
    padding-bottom: 25px;
}



.submit-button {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.line {
    width: 20%;
    margin: 0 auto 25px auto;
    border-bottom-style: solid;
    border-color: lightgrey;
    border-width: 2px;
}

.form-wrapper {
    padding-bottom: 150px;
}

