.content-wrapper {
    padding-top: 100px;
    margin:auto;
}

.user-image-wrapper {
    padding-bottom: 100px;
}

.user-image {
    border-radius: 50%;
    width: 200px;
    margin: auto;
}

.user-details {
    
    border: solid;
    border-color: lightgrey;
    width: 50%;
    margin: auto;
    padding: 1em;
}